@model IList<Ydb.ApplicationService.ModelDto.FinanceFlowDto>
@{
    ViewBag.headTitle = "财务管理";
    ViewBag.subTitle = "分账管理";
    ViewBag.breadcrumbOl = new List<string>() { "财务管理", "分账管理" };
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">已分账订单量</span>
                    <span class="info-box-number">@ViewData["SharedOrder"]</span>
                    @*<span class="info-box-number text-right"><a href="finance-withdraw-apply.html" class="btn btn-info">提现</a></span>*@
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">待分账订单量</span>
                    <span class="info-box-number">@ViewData["NotSharedOrder"]</span>
                    @*<span class="info-box-number text-right"><a href="finance-account-bind.html" class="btn btn-success">绑定/更改</a></span>*@
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">分账记录</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50px">序号</th>
                                <th>订单号</th>
                                <th>订单金额</th>
                                <th>分账金额</th>
                                <th>分账时间</th>
                                <th>分账用户</th>
                                <th>用户类型</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="width: 50px">序号</th>
                                <th>订单号</th>
                                <th>订单金额</th>
                                <th>分账金额</th>
                                <th>分账时间</th>
                                <th>分账用户</th>
                                <th>用户类型</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0; i < @Model.Count ; i++) {
                            <tr>
                                <td>@(i+1)</td>
                                <td>@*<a href="./order.html">*@@Html.DisplayFor(modelItem => Model[i].SerialNo)@*</a>*@</td>
                                <td>@Html.DisplayFor(modelItem => Model[i].AmountTotal)</td>
                                <td>@Html.DisplayFor(modelItem => Model[i].Amount)</td>
                                <td>@Html.DisplayFor(modelItem => Model[i].OccurTime)</td>
                                <td>@Html.DisplayFor(modelItem => Model[i].UserNickName)</td>
                                <td>@Html.DisplayFor(modelItem => Model[i].UserType)</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>


<script>
    $(function () {
        var language = {
            "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
            }
        };

        $('#example1').DataTable({
            language : language
        });
//
//        $('#example1').on("click", "tr", function(e){
//            var href = $(this).data("detail");
//
//            if ( e.target.nodeType === 1 && e.target.nodeName.toString().toLowerCase() === "a" ){
//                return false;
//            }
//
//            location.href = href;
//        })
    });
</script>
