@model  IList<Ydb.InstantMessage.DomainModel.Chat.ReceptionChatDto>
@{
    Layout = null;
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>订单号</th>
            <th>发送者Id</th>
            <th>接收者Id</th>
            <th>发送时间</th>
            <th>消息内容</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].SessionId)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].FromId)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].ToId)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].SavedTime)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].MessageBody)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>序号</th>
            <th>发送者Id</th>
            <th>接收者Id</th>
            <th>发送时间</th>
            <th>消息内容</th>
        </tr>
    </tfoot>
</table>
<!-- /.tab-pane -->

