@using Ydb.InstantMessage.DomainModel.Chat,
@using Ydb.Common.Domain;
@model IList<Ydb.Common.Domain.StatisticsInfo<ReceptionChatDto>>
@{
    ViewBag.headTitle = "订单管理";
    ViewBag.subTitle = "订单聊天记录";
    ViewBag.breadcrumbOl = new List<string>() { "订单管理", "订单列表", "订单信息", "订单聊天记录" };
}

 <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box">
                <div class="box-header text-center">
                    <i class="fa fa-th-list"></i>
                    <h3 class="box-title">聊天记录</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline timeline-inverse">

                                @foreach (StatisticsInfo<ReceptionChatDto> TimeLineList in Model)
                                {
                                    <!-- timeline time label -->
                                    <li class="time-label">
                                        <span class="bg-red">
                                            @TimeLineList.Date.ToString("yyyy-MM-dd")
                                        </span>
                                    </li>
                                    foreach (ReceptionChatDto chat in TimeLineList.List)
                                    {
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <li>
                                            <i class="fa fa-envelope bg-blue"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i> @chat.SavedTime.ToString("HH:mm")</span>

                                                <h3 class="timeline-header no-border">
                                                    <a href="#">@chat.FromResourceName</a> @chat.MessageBody
                                                </h3>
                                            </div>

                                        </li>
                                    }
                                }

                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@Html.Action("footer", "Agent", new { id = "" })

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

<script src="../js/navbar-controller.js"></script>
