@using AdminAgent.Models
@model LoginViewModel
@{
    //ViewBag.Title = "登录";
    //ViewBag.headTitle = "登录";
    //ViewBag.subTitle = "";
    //ViewBag.breadcrumbOl = new List<string>() { "登录"};
    Layout = null;
}

@*<h2>@ViewBag.Title。</h2>*@

    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="../../static/libs/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">-->
        <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
        <!-- Ionicons -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">-->
        <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.css" rel="stylesheet">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../static/libs/adminLTE/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
        <link rel="stylesheet" href="../../static/libs/adminLTE/css/skins/skin-green.min.css">
        <!-- 主样式 -->
        <link rel="stylesheet" href="../../Content/main.css">
        <!-- DataTables -->
        <link rel="stylesheet" href="../../static/plugins/datatables/dataTables.bootstrap.css">
        <!-- Daterangepicker -->
        <link rel="stylesheet" href="../../static/plugins/daterangepicker/daterangepicker.css">


        <!-- REQUIRED JS SCRIPTS -->
        <!-- jQuery 2.2.3 -->
        <script src="../../static/libs/jquery-2.2.3.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="../../static/libs/bootstrap/js/bootstrap.min.js"></script>
        <!-- underScore -->
        <script src="../../static/libs/adminLTE/js/app.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../static/libs/underscore.js"></script>

        <!-- Optionally, you can add Slimscroll and FastClick plugins.
             Both of these plugins are recommended to enhance the
             user experience. Slimscroll is required when using the
             fixed layout. -->

        <script src="../../Scripts/navbar-controller.js"></script>

        <title>一点办 | 代理后台</title>
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    </head>
    <body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>YDB</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>一点办</b>代理后台</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                <!--</a>-->

                <div class="container">
                    <div class="navbar-header">
                        <a href="" class="navbar-brand"><b>一点办代理商后台</b></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->

        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <section id="loginForm" style="padding: 150px 0;">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                            @Html.AntiForgeryToken()
                            @*<h4>使用本地帐户登录。</h4>*@
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="登录" class="btn btn-block btn-success" />
                                </div>
                            </div>
                            @*<p>
                            @Html.ActionLink("注册为新用户", "Register")
                        </p>*@
                            @* 在为密码重置功能启用帐户确认后启用此项
                            <p>
                                @Html.ActionLink("忘记了密码?", "ForgotPassword")
                            </p>*@
                            }
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                </div>
            </div>


            @*<!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    Anything you want
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
            </footer>
            *@
        </div>
        <!-- ./wrapper -->



        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    </body>
    </html>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@